#fondo{
  background-image: url("../imagenes/flauta.jpg");
}

#nav1{
  background-image: url("../imagenes/negro1.jpg");

}


#navbarSupportedContent li a{

  text-decoration: none;
  color:white;

}

#inicio{
  color:white;
}

#piano{
  background-color:black;
}

#guitarra{
  background-color:black;
}

#flauta{
  background-color: black;
}

#himno{
  width: 1000px;
  height: 950px;
  margin-bottom: 20px;
}

#navidad{
  width: 1000px;
  height: 950px;
}
