#nav1{
  background-image: url("../imagenes/negro1.jpg");

}


#navbarSupportedContent li a{

  text-decoration: none;
  color:white;

}

#inicio{
  color:white;
}

#piano{
  background-color:black;
}

#guitarra{
  background-color:black;
}

#flauta{
  background-color: black;
}


#amarillo{
  background-image: url("../imagenes/fondo3.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

.rounded-circle{
  width: 300px;
  height: 300px;
}

.square {
  width: 300px;
  height: 300px;
}

#pollo{
  margin-bottom: 30px;
}
